*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Classi di servizio */
    .dashed-border{
        border: dashed 2px red;
    }

    .solid-border{
        border: solid 2px blue;
    }

    .size{
        height: 30px;
        width: 30px;
        margin: 0px 3px;
    }
/* Classi di servizio */

body{
    height: 100vh;
    background-color: black;
}

main{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.size-window{
    height: 82vh;
    width: 95vw;
    overflow-y: auto;
    
}

.row{
    display: flex;
    justify-content: space-between;
    background-color: #3c3c3c;
}

.col{
    /* height: 453px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* flex-direction: column; */
}

.image{
    margin: 3px;
    height: 86px;
    width: 167px;
    position: relative;
}

div.image{
    background-image: url(https://picsum.photos/167/86);
    background-size: cover;
}

.flex{
    display: flex;
    
}

.col-sm{
    display: flex;
    padding: 5px;
}

.com-md{
    display: flex;
    padding: 5px;
}

.col-bg{
    padding: 5px;
}

.footer-fixed{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.header-fixed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.end{
    justify-content: end;
}

.label{
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    display: flex;
    background-color: black;
    background-color: rgb(59 58 58 / 75%);
    padding: 3px;
}

div.label h4{
    font-size: 14px;
    margin-left: 6px;
}

.color-white{
    color: white;
}

.footer-icon{
    color: white;
    text-align: center;
    margin: 0px 10px;
}

.footer-icon h5{
    margin-top: 4px;
    font-size: 10px;
}

.end-icon{
    color: red;
    background-color: grey;
    padding: 14px 8px;
}

.color-green{
    color: green;
}