*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Classi di servizio */
    .dashed-border{
        border: dashed 2px red;
    }

    .solid-border{
        border: solid 2px blue;
    }

    .size{
        height: 30px;
        width: 30px;
    }
/* Classi di servizio */

body{
    height: 100vh;
}

main{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.size-window{
    height: 80vh;
    width: 80vw;
    overflow-y: auto;
    
}

.row{
    display: flex;
    justify-content: space-between;
}

.col{
    /* height: 453px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* flex-direction: column; */
}

.image{
    margin: 4px 1px 0px 1px;
    height: 86px;
    width: 167px;
    position: relative;
}

.flex{
    display: flex;
    
}

.col-sm{
    display: flex;
}

.footer-fixed{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.header-fixed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.end{
    justify-content: end;
}

.label{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 20px;
}